<section class="body-sign" style="max-width: 800px !important">
<div class="center-sign">
<div class="panel panel-sign">
<div class="panel-body" >

<%= form_for :usuario, :url =>{:controller => "usuario", :action => "mantenimiento_post"} ,:method => :post,:html =>{ :class => "form-horizontal" , :id => "form_usuario_mantenimiento"} do |f|%>
    <div class="form-group">
        <label for="txt_nombre" class="col-sm-3 control-label">Nombre</label>
        <div class="col-sm-9">
        <input type="text" class="form-control" id="txt_nombre" name="txt_nombre" placeholder="Nombre" value="<%=@txt_nombre == nil ? '' : @txt_nombre %>" required>
        </div>
    </div>
    <div class="form-group">
        <label for="txt_ape_pat" class="col-sm-3 control-label">Apellido Paterno</label>
        <div class="col-sm-9">
        <input type="text" class="form-control" id="txt_ape_pat" name="txt_ape_pat" placeholder="Apellido Paterno" value="<%=@txt_ape_pat == nil ? '' : @txt_ape_pat %>" required>
        </div>
    </div>
    <div class="form-group">
        <label for="txt_ape_mat" class="col-sm-3 control-label">Apellido Materno</label>
        <div class="col-sm-9">
        <input type="text" class="form-control" id="txt_ape_mat" name="txt_ape_mat" placeholder="Apellido Materno" value="<%=@txt_ape_mat == nil ? '' : @txt_ape_mat %>" required>
        </div>
    </div>
    <div class="form-group">
        <label for="sel_sexo" class="col-sm-3 control-label">Sexo</label>
        <div class="col-sm-9">
            <select id="sel_sexo" name="sel_sexo" class="form-control">
                <option value="M" <%=@sel_sexo == "M" ? 'selected' : '' %>>Masculino</option>
                <option value="F" <%=@sel_sexo == "F" ? 'selected' : '' %>>Femenino</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="sel_tipo_doc" class="col-sm-3 control-label">Tipo Documento</label>
        <div class="col-sm-9">
            <select id="sel_tipo_doc" name="sel_tipo_doc" class="form-control">
                <%@tipo_documentos.each do |p| %>
                <option value="<%=p.IdTipoDocumento.to_s%>" <%=p.IdTipoDocumento.to_s == @sel_tipo_doc ? 'selected' : '' %>><%=p.Nombre.to_s %></option>
                <% end %>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="txt_num_doc" class="col-sm-3 control-label">Número Documento</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="txt_num_doc" name="txt_num_doc" placeholder="Número Documento" value="<%=@txt_num_doc == nil ? '' : @txt_num_doc %>" maxlength="8" required>
        </div>
    </div>
    <div class="form-group">
        <label for="sel_tipo_usuario" class="col-sm-3 control-label">Tipo Usuario</label>
        <div class="col-sm-9">
            <select id="sel_tipo_usuario" name="sel_tipo_usuario" class="form-control">
                <option value="D" <%=@sel_tipo_usuario == "D" ? 'selected' : '' %>>Dueño</option>
                <option value="C" <%=@sel_tipo_usuario == "C" ? 'selected' : '' %>>Cliente</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="txt_correo" class="col-sm-3 control-label">Correo</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="txt_correo" name="txt_correo" placeholder="Correo" value="<%=@txt_correo == nil ? '' : @txt_correo %>" required>
        </div>
    </div>
    <div class="form-group">
        <label for="txt_fecha_nac" class="col-sm-3 control-label">Fecha Nacimiento</label>
        <div class="col-sm-9 input-group date" id='datetimepicker1'>
            <input type="text" class="form-control" id="txt_fecha_nac" name="txt_fecha_nac" placeholder="Fecha Nacimiento" value="<%=@txt_fecha_nac == nil ? '' : @txt_fecha_nac %>" required>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="txt_celular" class="col-sm-3 control-label">Celular</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="txt_celular" name="txt_celular" placeholder="Celular" value="<%=@txt_celular == nil ? '' : @txt_celular %>" maxlength="9" required>
        </div>
    </div>
    <div class="form-group">
        <label for="txt_password" class="col-sm-3 control-label">Contraseña</label>
        <div class="col-sm-9">
            <input type="password" class="form-control" id="txt_password" name="txt_password" placeholder="Contraseña" value="" required>
        </div>
    </div>
    <div class="form-group">
        <label for="txt_confirmar_password" class="col-sm-3 control-label">Confirmar Contraseña</label>
        <div class="col-sm-9">
            <input type="password" class="form-control" id="txt_confirmar_password" name="txt_confirmar_password" placeholder="Confirmar Contraseña" required>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <!--<a href="../estacionamiento/busqueda_cliente" class="btn btn-default">Crear</a>-->
            <button type="submit" class="btn btn-primary mb-2">Crear</button>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-10 text-center">
        <label style="color: red;"><%=@resultado %></label>
        </div>
    </div>

<% end %>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
            format:'DD/MM/YYYY',
            maxDate: new Date()
        });
    });
</script>
</div>
</div>
<p class="text-center text-muted mt-md mb-md">&copy; UPC Copyright 2018. All Rights Reserved.</p>
</div>
</section>