<div class="row">
	<div class="col-md-4 col-lg-6">
		<section class="panel">
								<div class="panel-body">
									<div class="thumb-info mb-md">
										<img src=<%= image_url(@estacionamiento.Foto.to_s) %> class="rounded img-responsive" alt="John Doe">
										<div class="thumb-info-title">
											<span class="thumb-info-inner"><%=@estacionamiento.Dimensiones.to_s%> m</span>
											<span class="thumb-info-type"><%=@estacionamiento.Nombre.to_s%> - Lima</span>
										</div>
									</div>

									<div class="widget-toggle-expand mb-md">
										<div class="widget-header">
											<h6>Nivel de popularidad</h6>
											<div class="widget-toggle">+</div>
										</div>
										<div class="widget-content-collapsed">
											<div class="progress progress-xs light">
												<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
													60%
												</div>
											</div>
										</div>
										<div class="widget-content-expanded">
											<ul class="simple-todo-list">
												<li class="completed"><%=@estacionamiento.Direccion.to_s%></li>
												<li class="completed">Distrito bien ubicado</li>
												<li class="completed">Dimensiones <%=@estacionamiento.Dimensiones.to_s%> m2</li>
												<li class="completed">Tipo/Ubicaci&oacute;n exterior</li>
												<li class="completed">Precio oferta S/ <%=@estacionamiento.PrecioPorHora.to_f %></li>
											</ul>
										</div>
									</div>

									<hr class="dotted short">

									<h6 class="text-muted">Detalles</h6>
									<p>Buen estacionamiento en buena ubicacion con camaras de seguridad y vigilancia constante.</p>
									<!-- <div class="clearfix">
										<a class="text-uppercase text-muted pull-right" href="#">(Ver mas)</a>
									</div> -->

									<hr class="dotted short">

									<div class="social-icons-list">
										<a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
										<a rel="tooltip" data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>
										<a rel="tooltip" data-placement="bottom" href="http://www.linkedin.com" data-original-title="Linkedin"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
									</div>

								</div>
			</section>

	</div>
	<div class="col-md-4 col-lg-6">
		<section class="panel">
								<div class="panel-body">
			
			<%= form_for :usuario, :url =>{:controller => "estacionamiento", :action => "alquiler_post"} ,:method => :post,:html =>{ :class => "form-horizontal" , :id => "alquilerForm"} do |f|%>

			<input type="hidden" name="id" value="<%=@idEstacion.to_s %>">

									<div class="widget-toggle-expand mb-md">
										<div class="widget-header">
											<h4>Seleccion de servicios</h4>
											<div class="widget-toggle">+</div>
										</div>
									
										<div class="widget-content-expanded">
											<ul class="simple-todo-list">

											<%@serviciosAdicionales.each do |p| %>

												<li>
														<div class="checkbox-custom checkbox-default">
															<input type="checkbox" value="<%=p.IdServicioAdicional.to_i %>"  name="adicionales[]" class="todo-check">
															<label class="todo-label" ><span><%=p.Descripcion.to_s %> - S/<%=p.tarifaAdicional.to_f %></span></label>
														</div>
												</li>

    										<% end %>
												
											</ul>
										</div>
									</div>


									<hr class="dotted short">

									 <div class="form-group">
								        <label for="txt_fecha_nac" class="col-sm-3 control-label">Fecha Hora desde:</label>
								        <div class="col-sm-9 input-group date" id='datetimepicker1'>
								            <input type="text" class="form-control" id="txt_fecha_ini" name="txt_fecha_ini" placeholder="Fecha inicio">
								            <span class="input-group-addon">
								                <span class="glyphicon glyphicon-calendar"></span>
								            </span>
								        </div>
								    </div>

    								<div class="form-group">
								        <label for="txt_fecha_nac" class="col-sm-3 control-label">Fecha Hora hasta:</label>
								        <div class="col-sm-9 input-group date" id='datetimepicker2'>
								            <input type="text" class="form-control" id="txt_fecha_fin" name="txt_fecha_fin" placeholder="Fecha fin">
								            <span class="input-group-addon">
								                <span class="glyphicon glyphicon-calendar"></span>
								            </span>
								        </div>
								    </div>

								    <div class="form-group">
								        <div class="col-sm-12 input-group">
								            <button type="submit" class="btn btn-success">Alquilar Estacionamiento</button>
								           
								        </div>
								    </div>
  						<% end %>
								</div>
			</section>

	</div>
	<div class="col-xs-12">
		<section class="panel panel-featured panel-featured-danger animated fadeInRight">
        <div class="panel-body">
            <form class="form" role="form">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group center">
                            <img width="200" src="https://shannonathompson.files.wordpress.com/2014/03/two-star-rating.png">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Comentarios</h4>
                        <div style="padding: 10px;">
                            <p><b>Julio Salas</b>: Buen espacio para estacionamiento. Muy amplio para cuadrar mi auto. Otros son más pequeños y se me complica. Recomendado al 1000!</p>
                        </div>
                        <div style="padding: 0px 10px; margin-left: 50px;">
                            <p><b>Isabel Ilarra</b>: Igualmente, un estacionamiento muy amplio. Eso es un plus a pesar de estar en el sotano 4.</p>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <textarea class="form-control" placeholder="Ingrese su comentario"></textarea>
                            </div>
                        </div>
                        <div class="right" style="text-align: right;">
                            <button type="submit" class="btn btn-info">Comentar</button>
                        </div>
                    </div>
                </div>
			</form>
		</div>
	</section>
	</div>


</div>