<div class="row">
	<div class="col-xs-12">
		<section class="panel panel-featured panel-featured-danger animated fadeInRight">
		<div class="panel-body">
			<h4>Buscar Estacionamiento</h4>
			<%= form_for :estacionamiento, :url =>{:controller => "estacionamiento", :action => "busqueda_dueno_post"} ,:method => :post,:html =>{ :class => "form-horizontal" , :id => "form_busqueda_dueno"} do |f|%>
				<div class="form-group">
					<label for="txt_ubicacion" class="col-sm-3 control-label">Ingrese Nombre</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="txt_nombre" name="txt_nombre" value="<%=@txt_nombre == nil ? '' : @txt_nombre %>" placeholder="Ingrese Nombre">
					</div>
					<div class="col-sm-3">
					<button type="submit" class="btn btn-default">Buscar</button>
					</div>
				</div>
			<% end %>
			<br><br><br>
			<div class="panel panel-default">
				<table class="table">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Dirección</th>
							<th>Distrito</th>
							<th>Precio Hora</th>
							<th>Dimensiones</th>
							<th>Tipo Estacionamiento</th>
							<th>Opción</th>
						</tr>
					</thead>
					<tbody>
					<%@estacionamientos.each do |p| %>
						<tr>
							<td><%=p.Nombre.to_s %></td>
							<td><%=p.Direccion.to_s %></td>
							<td><%=p.NombreDistrito %></td>
							<td>S/ <%=p.PrecioPorHora.round(2).to_s %></td>
							<td><%=p.Dimensiones.to_s %> m2</td>
							<td><%=p.NombreTipoEstacionamiento %> </td>
							<td><a href="#">Editar</a> | <a href="#" class="btn-eliminar-busqueda-dueno" id-estacionamiento="<%=p.IdEstacionamiento.to_s %>">Eliminar</a></td>
						</tr>
					<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</section>
	</div>
</div>
<div id="dialog" title="Eliminar Estacionamiento" style="display: none;">
	<p>¿Está seguro de eliminar este estacionamiento?</p>	
  	<%= form_for :estacionamiento, :url =>{:controller => "estacionamiento", :action => "eliminar_estacionamiento_post"} ,:method => :post,:html =>{ :class => "form-horizontal" , :id => "form_usuario_mantenimiento"} do |f|%>
		<button type="submit" class="btn btn-primary mb-2">Eliminar</button>
		<input id="hd_busqueda_dueno_id_estacionamiento" name="hd_busqueda_dueno_id_estacionamiento" type="hidden" value="">
	<% end %>	
</div>