<div class="row">
	<div class="col-xs-12">
		<section class="panel panel-featured panel-featured-danger animated fadeInRight">
		<div class="panel-body">
            
            <%= form_for :estacionamiento, :url =>{:controller => "estacionamiento", :action => "busqueda_cliente_post"} ,:method => :post,:html =>{ :class => "form-horizontal" , :id => "form_busqueda_cliente"} do |f|%>
            <div class="form-group">
                <label for="sel_distrito" class="col-sm-2 control-label">Distrito</label>
                <div class="col-sm-10">
                    <select id="sel_distrito" name="sel_distrito" class="form-control">
                        <%@distritos.each do |p| %>
                        <option value="<%=p.IdDistrito.to_s%>" <%=p.IdDistrito.to_s == @sel_distrito ? 'selected' : '' %>><%=p.Nombre.to_s %></option>
                        <% end %>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="sel_tipo_estacionaminto" class="col-sm-2 control-label">Tipo Ubicación</label>
                <div class="col-sm-10">
                    <select id="sel_tipo_estacionaminto" name="sel_tipo_estacionaminto" class="form-control">
                        <%@tipoEstacionamientos.each do |p| %>
                        <option value="<%=p.IdTipoEstacionamiento.to_s%>" <%=p.IdTipoEstacionamiento.to_s == @sel_tipo_estacionaminto ? 'selected' : '' %>><%=p.Nombre.to_s %></option>
                        <% end %>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="txt_precio_desde" class="col-sm-2 control-label">Precio Desde</label>
                <div class="col-sm-4">
                <input type="number" class="form-control" id="txt_precio_desde" name="txt_precio_desde" placeholder="Precio Desde" min="0.00" max="25" value="<%=@txt_precio_desde == nil ? 0 : @txt_precio_desde %>" step="0.5" required>
                </div>
                <label for="txt_precio_hasta" class="col-sm-2 control-label">Precio Hasta</label>
                <div class="col-sm-4">
                <input type="number" class="form-control" id="txt_precio_hasta" name="txt_precio_hasta" placeholder="Precio Hasta" min="0.00" max="25" value="<%=@txt_precio_hasta == nil ? 25 : @txt_precio_hasta %>" step="0.5" required>
                </div>
            </div>
            <div class="form-group">
                <label for="txt_puntuacion" class="col-sm-2 control-label">Puntuación</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" id="txt_puntuacion" name="txt_puntuacion" placeholder="Puntuación" min="0" max="5" value="<%=@txt_puntuacion == nil ? 5 : @txt_puntuacion %>" <%=@chck_puntos_todos != nil ? 'disabled' : '' %>>
                </div>
                <div class="col-sm-2">
                  <div class="checkbox-custom checkbox-default" style="">
                    <input id="chck_puntos_todos" name="chck_puntos_todos" type="checkbox" <%=@chck_puntos_todos != nil ? 'checked' : '' %>/>
                    <label for="chck_puntos_todos">Todas Puntuaciones</label>
                  </div>
                </div>
                <div class="col-sm-4">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Buscar</button>
                </div>
            </div>
            <% end %>
            <br><br><br>
        </div>
        </section>
    </div>
</div>
<div class="row">

    <%@estacionamientos.each do |p| %>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src=<%= image_url(p.Foto.to_s) %> height="54" alt="Porto Admin" />
                    <div class="caption">
                    <h3><a href="../estacionamiento/alquiler?id=<%=p.IdEstacionamiento %>"><%=p.Nombre.to_s %></a></h3>
                    <p><%=p.Direccion.to_s %>, <%=p.Dimensiones.to_s %> m2, S/ <%=p.PrecioPorHora.to_f %></p>
                    <p><a href="../estacionamiento/alquiler?id=<%=p.IdEstacionamiento.to_i %>" class="btn btn-default" role="button">Ver</a></p>
                    </div>
                </div>
            </div>
    <% end %>
</div>
<br>
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="thumbnail">
            <img src=<%= image_url('publicidad001.jpg') %> height="54" alt="Porto Admin" />
        </div>
    </div>
</div>

