<div class="row">
	<div class="col-xs-12">
		<section class="panel panel-featured panel-featured-danger animated fadeInRight">
        <div class="panel-body">
            <h4>Registrar Estacionamiento</h4>
           
            <%= form_for :mantenimiento, :url =>{:controller => "estacionamiento", :action => "mantenimiento_post"} ,:method => :post,:html =>{ :class => "form-horizontal" , :id => "mantenimientoForm"} do |f|%>
                <div class="row">
                    <div class="col-sm-6">
                        <fieldset>
                            <legend>Información</legend>
                            <div class="form-group">
                                <label for="txtNombre" class="col-sm-5 control-label">Nombre</label>
                                <div class="col-sm-7">
                                    <input type="text" name="txtNombre" class="form-control" placeholder="Primavera" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtDireccion" class="col-sm-5 control-label">Dirección</label>
                                <div class="col-sm-7">
                                    <input type="text" name="txtDireccion" class="form-control" placeholder="Puente Piedra" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sel_distrito" class="col-sm-5 control-label">Distrito</label>
                                <div class="col-sm-7">
                                     <select id="sel_distrito" name="sel_distrito" class="form-control">
                                        <%@distritos.each do |p| %>
                                        <option value="<%=p.IdDistrito.to_s%>"><%=p.Nombre.to_s %></option>
                                        <% end %>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtLatitud" class="col-sm-5 control-label">Google Lat.</label>
                                <div class="col-sm-7">
                                    <input type="text" name="txtLatitud" class="form-control" placeholder="1204" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtLongitud" class="col-sm-5 control-label">Google Lon.</label>
                                <div class="col-sm-7">
                                    <input type="text" name="txtLongitud" class="form-control" placeholder="1230" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtTelefono" class="col-sm-5 control-label">Teléfono</label>
                                <div class="col-sm-7">
                                    <input type="text" name="txtTelefono" class="form-control" placeholder="867547384" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtPrecio" class="col-sm-5 control-label">Precio Hora</label>
                                <div class="col-sm-7">
                                    <input type="number" name="txtPrecio" class="form-control" placeholder="50" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtFoto" class="col-sm-5 control-label">Foto</label>
                                <div class="col-sm-7">
                                    <input type="text" name="txtFoto" class="form-control" placeholder=".../.../image.jpg" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtDimension" class="col-sm-5 control-label">Dimensiones</label>
                                <div class="col-sm-7">
                                    <input type="text" name="txtDimension" class="form-control" placeholder="124" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sel_tipo" class="col-sm-5 control-label">Tipo Estacionamiento</label>
                                <div class="col-sm-7">
                                    <select id="sel_tipo" name="sel_tipo" class="form-control">
                                        <%@tipos.each do |p| %>
                                        <option value="<%=p.IdTipoEstacionamiento.to_s%>"><%=p.Nombre.to_s %></option>
                                        <% end %>
                                    </select>
                                </div>
                            </div>
                            
                        </fieldset>
                    </div>
                    <div class="col-sm-6">
                        <fieldset>
                            <legend>Selección de Servicios</legend>
                            <!-- <div class="form-group">
                                <label for="txt_ubicacion" class="col-sm-5 control-label">Nuevo Servicio</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txt_ubicacion" class="col-sm-5 control-label">Tarifa</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div> 

                            <div class="right" style="text-align: right;">
                                <button type="submit" class="btn btn-info">Agregar</button>
                            </div>  -->
                        <%@adicionales.each do |p| %>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <div class="checkbox-custom checkbox-default">
                                        <input  id="<%=p.IdServicioAdicional.to_i%>" name="adicionales[]" value="<%=p.IdServicioAdicional.to_i %>" type="checkbox"/>
                                        <label ><%=p.Descripcion.to_s %> - </label>
                                        <input type="text" class="formFree" id="_<%=p.IdServicioAdicional.to_i%>"
                                            value="0" size="5" onkeyup="agregarPrecio('<%=p.IdServicioAdicional.to_i%>');" 
                                            style="font-weight: bold; text-align: center;">
                                    </div>
                                </div>
                            </div>
                         <% end %>   
                        </fieldset>
                    </div>
                </div>
                <div class="row center" style="margin-top: 20px;">
                    <button type="submit" class="btn btn-success">Registrar estacionamiento</button>
                </div>


                <script>
                    function agregarPrecio(adicional) {
                       var precio = document.getElementById("_"+adicional).value;
                       document.getElementById(""+adicional).value = ""+adicional+"-"+precio;
                    }
                    
                </script>



			<% end %>
		</div>
	</section>
	</div>
</div>