<!doctype html>
<html class="fixed">
	<head>
        <title>Estacionamientos</title>
		<!-- Librerias cabecera:start -->
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     	<!-- Librerias cabecera:end -->
		 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	</head>
	<body>
		<section class="body">

			<!-- start: header -->
			<header class="header">
			 <%= render 'layouts/header' %>
			</header>
			<!-- end: header -->

			<div class="inner-wrapper">
			
				<!-- start: sidebar -->
				 <%= render 'layouts/aside' %>
			    <!-- end: sidebar -->

				<section role="main" class="content-body">
					<header id="cabecera" class="page-header animated fadeInLeft">
						
					<h2>Principal</h2>
					
						<div class="right-wrapper pull-right">
							<ol class="breadcrumbs">
								<li>
									<a href="#">
										<i class="fa fa-home"></i>
									</a>
								</li>
								<li><span>Principal</span></li>
							</ol>
					
							<a class="sidebar-right-toggle" ><i class="fa fa-chevron-left"></i></a>
						</div>
					
					
					</header>

					<!-- start: page -->
						
					<%= yield %>
						
					<!-- end: page -->

					 <%= render 'layouts/footer' %>
				</section>
			</div>

			<!-- START: sidebar-->

              

              <!-- END: sidebar-->
              
		</section>

	 <!-- START: LIB JS FOOTER-->
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
         <!-- END: LIB JS FOOTER-->
         
         <script type="text/javascript">
		    $(function () {
		        $('#datetimepicker1').datetimepicker({
		            format:'DD/MM/YYYY',
		            maxDate: new Date()
		        });

		        $('#datetimepicker2').datetimepicker({
		            format:'DD/MM/YYYY',
		            maxDate: new Date()
				});
				
				$('#dtpFechaDesde').datetimepicker({
		            format:'DD/MM/YYYY HH:mm',
		            maxDate: new Date()
				});

				$('#dtpFechaHasta').datetimepicker({
		            format:'DD/MM/YYYY HH:mm',
		            maxDate: new Date()
				});
		    });		    
		</script>

		<script type="text/javascript">
		    $(document).ready(function() {
		        $("#chck_puntos_todos").click(function() {
		            if ($(this).is(':checked')){
		                $("#txt_puntuacion").prop('disabled', true);
		            } else {
		                $("#txt_puntuacion").prop('disabled', false);
		            }
				});
				
				$(".btn-eliminar-busqueda-dueno").click(function() {
					$("#hd_busqueda_dueno_id_estacionamiento").val($(this).attr("id-estacionamiento"))
		            $("#dialog").dialog();
				});
		    });    
		</script>
	
	</body>
</html>